<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Buy Random Stuff</h1>
    <br />
    <h2>Sell Random Stuff</h2>
    <br /><br />
  </div>
</div>
<br />
<div class="row featuretext-center">
  <div class="booyah-box col-12 col-sm">
    <h3>Electronics</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Kitchen and Homeware</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Sports</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Art</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Toys and Stuff</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Car Stuff</h3>
  </div>
</div>
