<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Buy Random Stuff</h1>
    <br />
    <h2>Sell Random Stuff</h2>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <% @categories.each do |category| %>
    <div class="booyah-box col-12 col-sm">
      <h3><%= category.name %></h3>
      <br />
      <%= link_to 'Check it Out', category, class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
</div>












